<h2> Reactive Form Group Example </h2>

<form [formGroup]="myForm">
  <input type="text"
    placeholder="first name"
    formControlName="firstName"
  >
  <br/>
  <input type="text"
    placeholder="last name"
    formControlName="lastName"
  >
</form>
<br/>
<i>Testing the result::</i>
<table>
  <tr>
    <td> <small><i>firstname </i></small> </td>
    <td> <small><i>lastname </i></small> </td>
  </tr>
  <tr>
    <td> {{myForm.controls['firstName'].value}} </td>
    <td> {{myForm.controls['lastName'].value}} </td>
  </tr>
</table>

