
<h2>Reactive Form Control Example: </h2>
<br />
<form>
  <input type="text" 
    placeholder="first name"
    [formControl]="firstNameFormControl">
  <br />
  <br />
  <input type="text"
    placeholder="last name"
    [formControl]="lastNameFormControl">
</form>

<br />
<br />
<br />
<i>Testing the result:: </i>
<table>
  <tr>
    <td> First Name </td>
    <td> Last Name </td>
  </tr>
  <tr>
    <td> <b>{{firstNameFormControl.value}} </b></td>
    <td> <b>{{lastNameFormControl.value}} </b> </td>
  </tr>
</table>